body{
    background: #f4f4f4;
}
.door_open_list{
    padding: 0 20px;
    margin-bottom: 8px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.expired{
    width: 100px;
    height: 100px;
    position: absolute;
    left: -20px;
    top: -32px;
}

.door_open_list img{
    width: 50px;
    height: 50px;
}
.expired>img{
    width: 100px;
    height: 100px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.server_time{
    padding: 10px 8px;
    font-size: 13px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    text-align: left;
    color: #858585;
}
.server_time>p{
    padding-left: 8px;
}
.server_time span{
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
}
.server_content,.left_distance{
    margin-left: 10px;
}
.server_address{
    font-size: 13px;
    color: #858585;
}
.server_info{
    padding: 15px 8px;
    border-bottom: 1px solid #e8e8e8;
}
.switch{
    position: relative;
    width: 44px;
    height: 24px;
    background: #EDEDED;
    border-radius: 50px;
    transition: .3s;
}
.switch.open{
    background: #13b9d7;
}
.switch>span{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../../img/door_bespeak_open/round_gray.png)no-repeat center;
    background-size: 22px;
    position: absolute;
    top: 2px;
    left: 0;
    transition: .3s;
}
.switch.open>span{
    left: 21px;
    background: url(../../img/door_bespeak_open/round_green.png)no-repeat center;
    background-size: 22px;
}
#footer_btn{
    width: 100%;
    height: 53px;
    background: #F4F4F4;
    position: fixed;
    bottom: 0;
}
#big_button,.big_button{
    margin: 0 auto;
    width: 86%;
    height: 49px;
    line-height: 49px;
    background: #13b9d7;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
}
/*选择出发地址*/
#set_icon>span{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/door_bespeak_open/set.png')no-repeat right 20px center;
    background-size: 20px;
}
.info_item {
    padding: 0 20px;
    line-height: 50px;
    background: #fff;
}
.info_item>div {
    padding: 0 8px;
    border-bottom: 1px solid #e8e8e8;
}
.info_item>div:last-child {
    border-bottom: 0px;
}
.gray_title{
    font-size: 12px;
    color: #858585;
    padding: 8px 28px;
}
.small_gray{
    font-size: 12px;
    color: #858585;
}
.info_item>div.choose_address{
    padding: 12px 8px;
    line-height: 22px;
}
.choose_icon{
    display: inline-block;
    width: 18px;
    height: 18px;
}
.choose_icon.selected{
    background: url(../../img/door_bespeak_open/true.png)no-repeat right center;
    background-size: 18px;
}
.right_arrow{
    background: url('../../img/door_bespeak_open/next.png')no-repeat right 8px center;
    background-size: 9px;
}
.right_txt{
    margin-right: 20px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.service_week{
    width: 33.3%;
}
.service_hours li>div{
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    height: 40px;
}
.service_hours li:last-child>div{
    border-bottom: none;
    border-left: 1px solid #e8e8e8;
}
.service_hours li{
    position: relative;
}
.service_hours li>div.service_del{
    width: 15px;
    height: 15px;
    border-radius: 18px;
    border: 1px solid #c0c0c0;
    line-height: 13px;
    text-align: center;
    color: #c0c0c0;
    position: absolute;
    top: -12px;
    right: -10px;
    font-size: 20px;
    background: #fff;
    font-weight: 100;
}
/*改派申请*/
.change_why{
    background: #fff;
    padding: 10px 20px;
}
.change_why>textarea{
    border: none;
    resize: none;
    width: 100%;
    height: 80px;
    outline: none;
    line-height: 24px;
}
/*新增地址*/
#delete{
    margin-top: 40px;
    display: none;
}
/*选择服务地址*/
.time_type{
    color: #858585;
}
.time_type>div{
    font-size: 13px;
}
.time_content,.time_type{
    text-align: center;
    line-height: 40px;
}
.time_content input{
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}
.has_line{
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
.add_time>p{
    margin: 0 auto;
    display: inline-block;
}
.add_time img{
    width: 17px;
}
.add_time span{
    margin-left: 3px;
}
#server_time>.info_item{
    margin-bottom: 8px;
}
/*上门订单列表*/
.order_list_info>p{
    line-height: 28px;
    font-size: 12px;
    color: #858585;
}
.order_list_img{
    width: 60px;
    overflow: hidden;
}
.order_list_img>img{
    width: 100%;
}
.order_list_data{
    margin: 8px 0 8px 10px;
    line-height: 23px;
}
.order_list_btn,.order_list_btn>div{
    overflow: hidden;
}
.order_list_btn>div{
    float: right;
}
.order_list_btn p{
    margin: 6px 0 6px 6px;
    float: left;
    border: 1px solid #13b9d7;
    color: #13b9d7;
    line-height: 24px;
    border-radius: 16px;
    width: 70px;
    text-align: center;
    font-size: 13px;
}
.order_list_data>li.lise_order_name{
    font-size: 15px;
    color: #000;
}
.order_list_data>li,.lise_order_phone{
    font-size: 13px;
    color: #858585;
}
#reassign_record>li{
    margin-bottom: 8px;
    background: #fff;
    padding: 15px 20px;
}
.record_info{
    margin-top: 8px;
}
li.selected{
    background: url("../../img/door_bespeak_open/tick.png")no-repeat right 8px center;
    background-size: 16px;
}
li.select{
    background: url("../../img/door_bespeak_open/choose.png")no-repeat right 8px center;
    background-size: 16px;
}
/*进度跟踪*/
/*.before_icon{*/
    /*border-left: 1px dotted #898989;*/
    /*background: url('../images/org_huaxi/tick.png')no-repeat left;*/
    /*background-size: 16px;*/
/*}*/
/*.after_icon{*/
    /*display: inline-block;*/
    /*background: url('../images/org_huaxi/tick.png')no-repeat top left;*/
    /*background-size: 16px;*/
/*}*/
/*.apply_progress{*/
    /*padding: 15px 20px;*/
/*}*/
/*.apply_progress>p{*/
    /*padding-left: 20px;*/
/*}*/
/*申请成功*/
#result_error{
    margin-top: 20%;
    text-align: center;
}
#result_error>img{
    width: 50px;
}
#result_state{
    margin-top: 8px;
    line-height: 26px;
    font-size: 13px;
}
#big_button.big_btn_style,.big_button.big_btn_style{
    margin-top: 30px;
}
/*订单详情*/
#order_state{
    margin-left: 28px;
    padding-left: 28px;
    height: 43px;
    background: url(../../img/door_bespeak_open/order_status.png)no-repeat left center;
    background-size: 18px;
    line-height: 43px;
    color: #858585;
    font-size: 13px;
}
#pack_info{
    padding: 15px 28px;
    background: #fff;
    margin-bottom: 8px;
}
#pack_info>img{
    width: 50px;
    height: 50px;
}
#pack_name,#user_phone,#pack_name{
    margin-left: 10px;
}
#user_phone,#user_address{
    color: #858585;
    font-size: 13px;
}
#user_door_info{
    padding: 15px 8px;
    line-height: 24px;
}
.info_item{
    padding: 0 20px;
    line-height: 50px;
    background: #fff;
}
.info_item>div{
    padding: 0 8px;
    border-bottom: 1px solid #e8e8e8;
}
.info_item>div:last-child{
    border-bottom: 0px;
}
.details_info{
    text-align: right;
}
#choose_user{
    color: #858585;
    margin-right: 20px;
    font-size: 12px;
}
/*弹窗*/
#layer_box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0,0,0,.3);
    display: none;
}
#layer_div{
    position: absolute;
    width: 80%;
    top:15%;
    left: 10%;
    height: 70%;
    max-height: 480px;
    background: #fff;
}
#layer_div>div{
    display: none;
}
.layer_title{
    background: #13b9d7;
    line-height: 45px;
    font-size: 17px;
    text-align: center;
    color: #fff;
}
#layer_div ul{
    overflow: auto;
}
.layer_list li,.layer_list_two li{
    padding: 0 18px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 45px;
}
.bottom_button{
    margin: 10px 0;
    position: absolute;
    left: 10%;
    bottom: 0px;
    width: 80%;
    line-height: 35px;
    background: #fff;
    border: 1px solid #13b9d7;
    border-radius: 20px;
    color: #13b9d7;
    font-size: 17px;
    text-align: center;
}
/*选择出发地址*/
#reassign_record>li.s_selected{
    background: #fff url("../../img/door_bespeak_open/tick.png")no-repeat right 8px center;
    background-size: 16px;
}
.editor{
    margin-right: 10px;
    font-size: 12px;
    color: #13b9d7;
    border: 1px solid #13b9d7;
    border-radius: 10px;
    line-height: 24px;
    width: 38px;
    text-align: center;
}
/*地址信息*/
#address_area{
    padding: 0 20px;
}
#address_area>img{
    width: 100%;
}
#search_box{
    padding: 10px 20px;
}
#search_btn{
    width: 32px;
    height: 32px;
    background: url("../../img/door_bespeak_open/search.png")no-repeat right center;
    background-size: 21px;
}
#search_box p{
    border-radius: 20px;
    background: #fff;
    height: 32px;
    padding: 0 8px;
}
#search_box input{
    border: none;
    outline: none;
}
#address_list{
    padding: 0 20px;
    background: #fff;
}
#address_list>div{
    padding: 12px 8px;
    border-bottom: 1px solid #e8e8e8;
}
#address_list>div:last-child {
    border-bottom: 0px;
}
#address_list .small_gray{
    margin-top: 4px;
}
#progress_bar span{
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -7px;
    left: -1px;
}
#progress_bar>div>div{
    padding: 6px 0;
    position: relative;
    color: #858585;
    font-size: 12px;
}
#progress_bar{
    padding: 8px 18px;
}
.green_now,.gray_before{
    border-bottom: 4px solid #E3E3E3;
    transition: .5s;
}
.green_after{
    border-bottom: 4px solid #13b9d7;
    transition: .5s;
}
#progress_bar>div>div:last-child {
    border-bottom: 4px solid #f4f4f4;
}
#progress_bar .green_now>span{
    bottom: -8px;
    width: 12px;
    height: 12px;
    background: url('../../img/door/sever_now.png')no-repeat left center;
    background-size: 12px;
}
.gray_before>span{
    background: url('../../img/door/sever_before.png')no-repeat left center;
    background-size: 10px;
}
.green_after>span{
    background: url('../../img/door/sever_after.png')no-repeat left center;
    background-size: 10px;
}
/*服务跟踪*/
#div2,#div3,#div4,#div5,#footer.server_trick,#button_two{
    display: none;
}
#div2{
    padding-top: 15px;
}
#go_type p{
    height: 50px;
    background: url("../../img/door_bespeak_open/round.png")no-repeat right 8px center;
    background-size: 18px;
}
#go_type p.selected{
    background: url("../../img/door_bespeak_open/true.png")no-repeat right 8px center;
    background-size: 18px;
}
#div3,#div4{
    padding: 10px 28px;
}
.big_title{
    margin: 10px 0px;
    font-size: 17px;
    color: #858585;
}
.server_content{
    line-height: 30px;
    color: #858585;
}
#button_two{
    margin-top: 10px;
    background: #f4f4f4;
    border: 1px solid #13b9d7;
    color: #13b9d7;
}
