body{
    background: #f8f8f8;
}
.gradient_bg{
    background: -moz-linear-gradient(left top, #04ddcb, #23c9e7);
    background: -webkit-linear-gradient(left top, #04ddcb, #23c9e7);
    background: -o-linear-gradient(left top, #04ddcb, #23c9e7);
    color:#fff;
}
.title{
    color: #ffffff;
}
.text{
    color: #333333;
}
.paragraph{
    color: #9a9a9a;
}
.big_bg{
    background: #f8f8f8;
}
.header_box{
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 999;
}
.header_box #header{
    background: none;
}
#header .header_right .news_logo{
    position: absolute;
    top: 50%;
    right: 18px;
    margin-top: -10px;
    background: url("../../img/doctor_circle/news_logo.png") no-repeat left;
    background-size: 20px;
    width: 22px;
    height: 20px;
}
.news_message{
    position: absolute;
    left: -4px;
    top: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
}
.content_header{
    margin-top: 45px;
    width: 100%;
    height: 100px;
}
.content_center{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.content_logo{
    padding: 5px 30px;
    border: 1px solid #ffffff;
    border-radius: 30px;
}
.tab_menu{
    padding: 5px 0;
}
.tab_box{
    width: 100%;
}
.tab_logo_box{
    width: 50%;
}
.tab_logo{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    text-align: center;
}
#container{
    width: 100%;
    margin: 182px 0 0;
}
.content_list_box{
    padding: 0px 18px;
    background: #ffffff;
}
.list_model_box{
    padding: 15px 0;
}
.list_model_img{
    width: 54px;
    height: 54px;
    margin: 0 10px 0 6px;
}
.list_model_img, .list_model_img img{
    border-radius: 50%;
}
.list_model_text p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
}
.list_model_btn{
    margin: 0 10px 0 24px;
}
.add_model_box input[type = checkbox]{

    background: url("../../img/doctor_circle/checkbox_s.png") no-repeat;
    background-size:36px 18px;
    background-position: 0 0;
    height:18px;
    width:18px;
    border:none;
    border-radius:0px;
    outline:none;
    -webkit-appearance: none;
}
.add_model_box input[type=checkbox]:checked{
    background-position:-18px 0;
}